html {
    scroll-behavior: smooth;
}
body {
    display: flex;
    flex-direction: column;
}
.main-heading {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    letter-spacing: -0.6px;
    margin: 0.8125rem 0px 0.9125rem;
    color: var(--secondary-color);
}
.copy-box {
    width: 100%;
    display: flex;
    justify-content: center;
}
.copy-text {
    font-size: 0.6875rem;
    text-align: center;
    padding: 0px 1rem;
}
@media all and (min-width: 768px) {
    body {
        display: grid;
        grid-template-columns: min-content 1fr;
        grid-template-rows: 100%;
        grid-template-areas:
        "header main"
        "header footer";
        overflow: auto;
    }
    main#container {
        grid-area: main;
        margin: 0px 2.1875rem;
        overflow-x: hidden;
    }
    .main-heading {
        margin: 1.5rem 0px 0.915rem;
    }
    .footer {
        position: relative;
        grid-area: footer;
    }
}
@media all and (min-width: 834px) {
    .main-heading {
        margin: 2.4rem 0px 0.93rem;        
    }
}
@media all and (min-width: 1024px) {
    main#container {
        margin: 0px 2.64rem;
    }
    .main-heading {
        text-align: left;
        margin: 2.64rem 0px 0.95rem;
    }
}
@media all and (min-width: 1280px) {
    main#container {
        margin: 0px 2.81rem;
    }
    .main-heading {
        text-align: left;
        margin: 3rem 0px 0.97rem;
    }
}
@media all and (min-width: 1366px) {
    main#container {
        margin: 0px 3.2rem;
    }
    .main-heading {
        text-align: left;
        margin: 3.2rem 0px 0.99rem;
    }
}
@media all and (min-width: 1440px) {
    main#container {
        margin: 0px 3.3rem;
    }
    .main-heading {
        text-align: left;
        margin: 3.3rem 0px 1.2rem;
    }
}